# Dependencias
node_modules/
**/node_modules/



# Variables de entorno — NUNCA subir al repo
.env
**/.env
!**/.env.example

# Prisma migrations generadas localmente


# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/